<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggamakun.linkle.domain.gallery.repository.IGalleryRepository">
<select id="galleryList" resultType="com.ggamakun.linkle.domain.gallery.dto.GalleryDto">
SELECT 
g.gallery_id AS galleryId,
g.club_id AS clubId,
c.name AS clubName,
m.nickname AS nickname,
g.scope AS scope,
f.file_id AS fileId,
f.file_link AS fileLink,
g.created_by AS createdBy,
TO_CHAR(g.created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt,
g.like_count AS likeCount,
mf.file_link AS memberProfileImage,
cf.file_link AS clubProfileImage
FROM GALLERY g
LEFT JOIN FILE_STORAGE f ON  g.file_id = f.file_id
AND f.is_deleted = 'N'
LEFT JOIN MEMBER m ON g.created_by = m.member_id
AND m.is_deleted = 'N'
LEFT JOIN FILE_STORAGE mf ON m.file_id = mf.file_id
AND mf.is_deleted = 'N'
LEFT JOIN CLUB c ON g.club_id = c.club_id
AND c.is_deleted = 'N'
LEFT JOIN FILE_STORAGE cf ON c.file_id = cf.file_id
AND cf.is_deleted = 'N'
WHERE g.is_deleted = 'N'
ORDER BY g.created_at DESC



</select>

<!-- 동호회별 갤러리리스트 조회 -->
<select id="galleryListByClubId" resultType="com.ggamakun.linkle.domain.gallery.dto.GalleryDto">
SELECT 
g.gallery_id AS galleryId,
g.club_id AS clubId,
c.name AS clubName,
m.nickname AS nickname,
g.scope AS scope,
f.file_id AS fileId,
f.file_link AS fileLink,
g.created_by AS createdBy,
TO_CHAR(g.created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt,
g.like_count AS likeCount
FROM GALLERY g
LEFT JOIN FILE_STORAGE f ON  g.file_id = f.file_id
AND f.is_deleted = 'N'
LEFT JOIN MEMBER m ON g.created_by = m.member_id
AND m.is_deleted = 'N'
LEFT JOIN CLUB c ON g.club_id = c.club_id
AND c.is_deleted = 'N'
WHERE g.is_deleted = 'N'
AND g.club_id = #{clubId}
ORDER BY g.created_at DESC


</select>

<select id="findById" resultType="com.ggamakun.linkle.domain.gallery.dto.GalleryDto">
SELECT
g.gallery_id AS galleryId,
g.club_id AS clubId,
c.name AS clubName,
m.nickname AS nickname,
g.scope AS scope,
f.file_id AS fileId,
f.file_link AS fileLink,
g.created_by AS createdBy,
TO_CHAR(g.created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt,
g.like_count AS likeCount,
mf.file_link AS memberprofileImage,
cf.file_link As clubProfileImage
FROM GALLERY g
LEFT JOIN FILE_STORAGE f ON  g.file_id = f.file_id
AND f.is_deleted = 'N'
LEFT JOIN MEMBER m ON g.created_by = m.member_id
AND m.is_deleted = 'N'
LEFT JOIN FILE_STORAGE mf ON m.file_id = mf.file_id
AND mf.is_deleted='N'
LEFT JOIN CLUB c ON g.club_id = c.club_id
AND c.is_deleted = 'N'
LEFT JOIN FILE_STORAGE cf ON c.file_id = cf.file_id
AND cf.is_deleted = 'N'
WHERE g.gallery_id = #{galleryId}
AND g.is_deleted = 'N'
</select>

<insert id="insertGallery" parameterType="com.ggamakun.linkle.domain.gallery.dto.CreateGalleryRequest">

INSERT INTO GALLERY
(gallery_id, club_id, file_id,  scope, created_by, created_at)
VALUES
(SEQ_GALLERY.NEXTVAL, #{clubId}, #{fileId}, #{scope}, #{createdBy}, SYSDATE)
</insert>

<update id="deleteGallery">
UPDATE GALLERY
SET is_deleted = 'Y',
updated_by = #{memberId},
updated_at = SYSDATE
WHERE gallery_id = #{galleryId}
AND is_deleted = 'N' 
</update> 

<!-- 좋아요 증가 -->
<update id="increaseLikeCount">
UPDATE GALLERY
SET LIKE_COUNT = LIKE_COUNT + 1
WHERE GALLERY_ID = #{galleryId}
AND IS_DELETED = 'N'
</update>

<!-- 좋아요 감소 -->
<update id="decreaseLikeCount">
UPDATE GALLERY
SET LIKE_COUNT = LIKE_COUNT - 1
WHERE GALLERY_ID = #{galleryId}
AND IS_DELETED = 'N'
AND LIKE_COUNT > 0
</update>

<!-- 현재 좋아요 조회 -->
<select id="getLikeCount" resultType="int">
SELECT 
LIKE_COUNT 
FROM GALLERY
WHERE GALLERY_ID = #{galleryId}
AND IS_DELETED = 'N'
</select>

</mapper>
